# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.DS_Store
.idea/CSE121C.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
CMakeLists.txt
cmake-build-debug/

/misc.xml
/modules.xml


/cmake-build-debug/*
/.idea/CSE121C.iml
/.idea/vcs.xml
/.idea/workspace.xml

# videos
.mov
